:root {
  --brand-color: #7ca2f4;
  --dark-10: #121214;
  --dark-20: #2f3329;
  --dark-30: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  font-family: "Archivo", sans-serif;
  background: var(--dark-30);

  color: var(--dark-10);
  font-size: 1.6rem;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

.spacing-side {
  padding: 0 35.2rem;

  @media (max-width: 1024px) {
    padding: 0 3.2rem;
  }

  @media (max-width: 480px) {
    padding: 0 3.2rem;
  }
}

.header {
  width: 100%;
  background-color: #f3f7ff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6.4rem;

  @media (max-width: 1024px) {
    height: 4.1rem;
  }

  @media (max-width: 480px) {
    height: 3.9rem;
  }
}

.header > p {
  font-weight: 500;
  font-size: 2.4rem;

  @media (max-width: 1024px) {
    font-size: 1.6rem;
  }

  @media (max-width: 480px) {
    font-size: 1.4rem;
  }
}

.jordan-hero {
  width: 100%;
  background-image: url("/images/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 12% 12%;
  height: 40rem;

  @media (max-width: 1024px) {
    background-position: center;
  }

  @media (max-width: 480px) {
    background-position: center;
  }
}

.jordan-hero-logo {
  padding-top: 9.4rem;
  color: var(--dark-30);
  display: flex;
  align-items: center;
}

.jordan-hero-logo > span {
  font-weight: 500;
  font-size: 2.4rem;

  @media (max-width: 1024px) {
    font-size: 1.8rem;
  }

  @media (max-width: 480px) {
    font-size: 1.8rem;
  }
}

.jordan-hero-description {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: var(--dark-30);
}

.jordan-hero-description > h2 {
  font-weight: 500;
  font-size: 3.2rem;

  @media (max-width: 1024px) {
    font-size: 2.4rem;
  }

  @media (max-width: 480px) {
    font-size: 2.4rem;
  }
}

.jordan-hero-description > p {
  font-weight: 400;
  font-size: 2.4rem;

  @media (max-width: 1024px) {
    font-size: 1.8rem;
  }

  @media (max-width: 480px) {
    font-size: 1.6rem;
  }
}

.jordan-products {
  padding-top: 8rem;
  padding-bottom: 8rem;

  @media (max-width: 1024px) {
    padding-top: 5.6rem;
    padding-bottom: 5.6rem;
  }

  @media (max-width: 480px) {
    padding-top: 5.6rem;
    padding-bottom: 5.6rem;
  }
}

.jordan-products-header {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 7.2rem;

  @media (max-width: 1024px) {
    gap: 1.2rem;
    margin-bottom: 4rem;
  }

  @media (max-width: 480px) {
    gap: 1.2rem;
    margin-bottom: 4rem;
  }
}

.jordan-products-header > h2 {
  font-weight: 600;
  font-size: 3.2rem;

  @media (max-width: 1024px) {
    font-size: 2.4rem;
  }

  @media (max-width: 480px) {
    font-size: 2rem;
  }
}

.jordan-products-header > p {
  font-weight: 400;
  font-size: 2.4rem;
  max-width: 59.3rem;

  @media (max-width: 1024px) {
    font-size: 1.6rem;
    text-align: center;
    max-width: 52rem;
  }

  @media (max-width: 480px) {
    font-size: 1.4rem;
    text-align: center;
  }
}

.jordan-products-list {
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(38.4rem, 1fr)); */
  grid-template-columns: repeat(3, 1fr);
  gap: 3.2rem;

  @media (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 480px) {
    grid-template-columns: 1fr;
    gap: 4rem;
  }
}

.jordan-product {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  max-widht: 38.4rem;
}

.jordan-product-image {
  background-color: #f3f7ff;
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.limit-image {
  width: 22.5rem;
  height: 13.5rem;
}

.limit-image > img {
  width: 100%;
  height: 100%;
}

.jordan-product-info > h3 {
  font-weight: 500;
  font-size: 1.8rem;

  @media (max-width: 480px) {
    font-size: 1.6rem;
  }
}

.jordan-product-info > span {
  font-weight: 500;
  font-size: 1.6rem;
  color: var(--brand-color);
}

.jordan-product-price {
  font-weight: 500;
  font-size: 2rem;
  font-family: "Space Grotesk", sans-serif;
}
