:root {
  --brand-color: #e07b67;
  --dark-10: #121214;
  --dark-20: #17171a;
  --dark-30: #202024;
  --dark-40: #252529;
  --dark-50: #afabb6;
  --dark-60: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Inter", sans-serif;
  background: var(--dark-10);

  color: var(--dark-50);
  font-size: 1.6rem;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

.spacing-side {
  padding: 0 35rem;

  @media (max-width: 1024px) {
    padding: 0 3.2rem;
  }

  @media (max-width: 480px) {
    padding: 0 2.4rem;
  }
}

.header-blog {
  background-color: var(--dark-20);
  width: 100%;
  padding-top: 6.4rem;
  padding-bottom: 6.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-title {
  font-size: 4rem;
  font-weight: 500;
  font-family: "Space Grotesk", sans-serif;
  margin-bottom: 4.8rem;
}

.header-title > span:first-child {
  color: var(--brand-color);
}

.header-title > span:last-child {
  color: var(--dark-60);
}

input[type="text"] {
  background-color: var(--dark-30);
  height: 5.6rem;
  width: 100%;
  padding: 0 2.4rem;
  border: 2px solid var(--dark-40);
  border-radius: 0.8rem;

  &::placeholder {
    color: var(--dark-50);
  }
}

.blog-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding-top: 8rem;
  padding-bottom: 8rem;

  @media (max-width: 1024px) {
    padding-top: 5.6rem;
    padding-bottom: 5.6rem;
  }

  @media (max-width: 480px) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.blog-item {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 4rem;
  cursor: pointer;
  border-radius: 0.8rem;
  border: 2px solid var(--dark-40);
  background-color: var(--dark-30);

  &:hover {
    border-color: var(--brand-color);
  }

  @media (max-width: 480px) {
    padding: 3.2rem 2.4rem;
  }
}

.blog-item-date {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.blog-item-date svg {
  width: 2.8rem;
  height: 2.4rem;
}

.blog-item-date > span {
  color: var(--brand-color);
  font-weight: 500;
}

.blog-item-content > h2 {
  color: var(--dark-60);
  font-weight: 500;
  font-size: 2.4rem;
  font-family: "Space Grotesk", sans-serif;
  margin-bottom: 1.6rem;

  @media (max-width: 1024px) {
    font-size: 2rem;
  }

  @media (max-width: 480px) {
    font-size: 2rem;
  }
}

.blog-item-content > p {
  color: var(--dark-50);
  font-weight: 500;
  font-size: 2rem;
  font-family: "Inter", sans-serif;

  @media (max-width: 1024px) {
    font-size: 1.6rem;
  }

  @media (max-width: 480px) {
    font-size: 1.6rem;
  }
}

#icon {
  fill: var(--dark-20);
  stroke: var(--brand-color);
  stroke-width: 7;
  transition: fill 0.3s;
  cursor: pointer;
}

#icon.filled,
#icon:hover {
  fill: var(--brand-color);
}
